<%= form_with(model: fio_import_form, url: fio_items_path, local: true) do |form| %>
  <% if fio_import_form.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% fio_import_form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date_from %>
    <%= form.date_field :date_from, value: @date_from || params.dig(:fio_import_form, :date_from), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date_to %>
    <%= form.date_field :date_to, value: @date_to || params.dig(:fio_import_form, :date_to), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :token_id %>
    <%= form.select :token_id, token_options, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Import from FIO by dates', class: 'btn btn-success pull-right' %>
  </div>
<% end %>