<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Finry</title>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container" id="content" tabindex="-1">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">
        <h1 class="page-header">Menu</h1>
        <%= render partial: 'menu' %>
        <hr>
        <%= link_to 'Categories', categories_path, class: 'btn btn-link' %><br>
        <%= link_to 'Items', items_path, class: 'btn btn-link' %><br>
        <%= link_to 'FIO items', fio_items_path, class: 'btn btn-link' %><br>
      </div>
      <div class="col-md-10">
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <%= notice %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
